
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup>
    <h1 class="text-danger">Not Avalilable.</h1>
    <h2>You can not open this content.</h2>
</hgroup>